.sidebar {
    height: 100%;
    width: 200px;
    position:absolute;
    float:right;
    top: 13.5%;
    right: 10px;
    margin-right: 10%;
    background-color: white;
}
#title {
    font-weight: bold;
    position:static;
    margin-right: 50%;

}
.vid{
    position: static;
}
#views{
    position:relative;
    top: -20px;
    text-align: center;
}
.logo{
    position:relative;
    top:0%;
}
#navbar{
    position:absolute;
    right:75%;
    top:3.2%;
    
}